i {
    width: 100px;
    height 100px;
}

div.container-fluid {
    margin: 0 auto;
    width: 800px;
    padding-top: 2cm;
    text-align: center;
}

h1{
    line-height: 500%;
}

div.jumbotron {
    background-color: hsl(0, 0%, 100%);
}

div.navbar navbar-default{
    background-color: hsl(0, 0%, 100%);
}